<main class="container">
  <%= link_to sanitize("&larr; Back to email"), email_path(@email) %>

  <div class="header">
    <h1>Edit email</h1>
  </div>

  <%= turbo_frame_tag @email do %>
    <%= render "form", email: @email %>
  <% end %>
</main>